:root {
  --color-text: #1a1a1a;
  --color-text--secondary: #545454;
  --color-border: #d9d9d9;
	--font-size-lg: 1.6rem;
  --box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
	--motion-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --border-radius-sm: 0.4rem;
  --border-radius-md: 0.6rem;
  --border-radius-lg: 0.8rem;
}

html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
}

body, html {  
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  line-height: 1.4;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding-block: 4rem;
}
